<!-- include header -->
<%- include('header') %>
    <!-- /include header -->

    <style>
        #t {
            background-color: black;
            text-align: center;
            color: white;
            font-size: 25px;
            height: 50px;
        }

        .k {
            background-color: black;
            text-align: center;
            color: white;
            font-size: 25px;
            height: 50px;
        }

        .foot {
            position: fixed;
            bottom: 0;
            background-color: black;
            text-align: center;
            color: white;
            width: 100%;
            font-size: 25px;
            height: 50px;

        }

        .f {
            text-align: center;
        }

        .center {
            text-align: center;
        }
        .btn {
            background-color: DodgerBlue;
            /* Blue background */
            border: none;
            /* Remove borders */
            color: white;
            /* White text */
            padding: 12px 16px;
            /* Some padding */
            font-size: 16px;
            /* Set a font size */
            cursor: pointer;
            /* Mouse pointer on hover */
            position: absolute;
            top: 10px;
            right:10px;
        }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: RoyalBlue;
        }
    </style>

    <body>
        <header>
            <header>
                <div class="k">
                    <a href="https://locandyy.herokuapp.com/">
                        Locandyy
                </div>
                </a>
            </header>

        </header>
        <main>
            <br>
            <br>
            <br>
            <div class="center">
                <form action="/locations/edit/<%= locations._id %>" method="POST" id="update-location">
                    <form action="/locations/edit/<%= locations._id %>" method="POST">

                        <div class="form-group">
                            <label for="name" class="c1">Name: </label>
                            <!-- <input type="text" name="name" value="<%= locations._id %>"> -->
                            <input type="text" name="locationName" value="<%= locations.locationName %>">
                        </div>
                        <div class="form-group">
                            <label for="latitude" class="c1">Latitude: </label>
                            <input type="number" step=".00000000000001" name="latitude" min="-90.00000000000" max ="90.00000000000" required>
                        </div>
                        <div class="form-group">
                            <label for="longitude" class="c1">Longitude: </label>
                            <input type="number" step=".000000000000001" name="longitude" min="-180.00000000000000" max="180.00000000000" required>
                        </div>




                        <div class="form-group">


                            <button type="submit" class="btn btn-black">Update</button>
                        </div>
                        <div>
                            <link rel="stylesheet"
                                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                            <form action="https://locandyy.herokuapp.com/">
                                <button class="btn"><i class="fa fa-home"></i> Home</button>
                            </form>
                        </div>


                    </form>
            </div>
        </main>
        <footer class="foot">

            <a href="https://github.com/Chandupolisetty/Locandyy">
                <i class="fab fa-github "></i> GitHub</a>
        </footer>